#!/usr/bin/env bash
set -euo pipefail

NAMESPACE="{{ .Namespace }}"

kubectl create namespace "${NAMESPACE}" --dry-run=client -o yaml | kubectl apply -f -

helm repo add grafana https://grafana.github.io/helm-charts
{{ if eq .Storage.Type "minio" }}
helm repo add minio https://charts.min.io/
{{ end }}
helm repo update

{{ if eq .Storage.Type "minio" }}
helm upgrade --install minio minio/minio \
  -n "${NAMESPACE}" \
  -f storage/minio-values.yaml

{{ end }}
helm upgrade --install loki grafana/loki \
  -n "${NAMESPACE}" \
  -f values/loki-values.yaml

helm upgrade --install mimir grafana/mimir-distributed \
  -n "${NAMESPACE}" \
  -f values/mimir-values.yaml

helm upgrade --install tempo grafana/tempo-distributed \
  -n "${NAMESPACE}" \
  -f values/tempo-values.yaml

helm upgrade --install alloy grafana/alloy \
  -n "${NAMESPACE}" \
  -f values/alloy-values.yaml
